.home {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    
    .h-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid black;
    }

    .h-text {
        border-bottom: solid black 1px;
        padding: 2rem 20rem;
        text-align: center;
    }

}