.home {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    
    .h-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid black;

        h1 span {
            color: gray;
        }
    }

    .h-text {
        border-bottom: solid black 1px;
        padding: 2rem 20rem;
        text-align: center;
    }

    .h-gallery {
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}