.home {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    
    .h-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid black;
        font-family: 'Barlow', sans-serif;
        text-transform: uppercase;
        animation: fadeIn 1s;

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

        .mainImg {
            width: 500px;
            height: 450px;
        }


        h1 {
            font-weight: 400;

            br {
                display: none;
            }

            span {
                color: gray;
            }

            svg {
                width: 15px;
                height: 15px;
                padding-bottom: 1rem;
            }
        }
    }

    .h-text {
        border-bottom: solid black 1px;
        padding: 2rem 20rem;
        text-align: center;

        .h-quote {
            font-family: 'Barlow', sans-serif;
            font-style: italic;
            font-weight: 400;

            span {
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width:870px) {
    .home {
        display: flex;
        flex-direction: column;
        padding: 0; 

        .h-text {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0.3rem;

            .h-quote {
                margin: 0;
                width: 500px;
                text-align: center;
                height: 100px;
                padding: 0;
            }
        }
    }
}


@media screen and (max-width:470px) {
    .home {

        .h-title {

            h1 {
                
                br {
                    display: visible;
                }
            }
        }
    }
}