
.about {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 70vh;
    margin: 4rem 10rem;

    img {
        width: 200px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
        // display: flex;
        // align-self: center;
        --b: 10px; /* control the size */
        padding: var(--b);
        border: calc(2*var(--b)) solid #0000;
        outline: 1px solid #000;
        outline-offset: calc(-1*var(--b));
        background: conic-gradient(from 90deg at 1px 1px, #0000 90deg, #000 0);
    }

    .bio {
        width: 300px;

        h2 {
            font-weight: 300;
            text-transform: uppercase;
            border-bottom: solid 1px black;
        }
    }
}