.background {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        width: 50rem;
        height: 37.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        position: relative;
        animation: fadeInTop 1s;

        @keyframes fadeInTop {
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .m-close {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }

        .m-container {
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .m-container-left {
                display: flex;
                height: 50vh;

                .left-1 {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .img-wrap {
                        width: 70px;
                        height: 70px;
                        cursor: pointer;

                        img {
                            width: 60px;
                            height: 60px;
                            object-fit: contain;
                        }
                    }
                } 

                .left-2 {

                    img {
                        width: 400px;
                        height: 100%;
                        object-fit: contain;
                        border-radius: 5px;
                    }
                }
            }

            .m-container-right {
                font-family: 'Barlow', sans-serif;
                margin: 1rem;

                h4 {
                    font-style: italic;
                }
            }
        }
    }
}