.background {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        width: 50rem;
        height: 37.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        position: relative;
        animation: fadeInTop 1s;

        @keyframes fadeInTop {
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .m-close {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }

        .m-img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 5px;
        }

        .m-info {
            height: 300px;
            font-family: 'Barlow', sans-serif;

            h4 {
                font-weight: 700;
            }
        }
    }
}