nav {
    border-bottom: solid 1px black;
    padding: 0 1rem 0.5rem 1rem;
    margin: 0 1rem;

    a {
        text-decoration: none;
        color: gray;
        padding: 0 1rem;
        transition: all 0.5s ease-in;

        &:hover {
            color: black;
        }
    }
}