.menu {

    label {
        display: none;
        font-size: 26px;
    }

    input {
        display: none;
    }

    nav {
        border-bottom: solid 1px black;
        padding: 0 1rem 0.5rem 1rem;
        margin: 0 1rem;

        a {
            text-decoration: none;
            color: gray;
            padding: 0 1rem;
            transition: all 0.5s ease-in;

            &:hover {
                color: black;
            }
        }
    }
}

footer {
    border-top: solid 1px black;
    padding: 0.5rem 1rem 0 1rem;
    margin: 0 1rem;
    font-size: xx-small;
    text-align: center;
}


@media screen and (max-width:470px) {
    .menu {

        label {
            display: block;
            cursor: pointer;
            padding: 0 0 0.5rem 1rem;
        }

        nav {
            text-align: center;
            width: 90%;
            display: none;
            height: 100%;

            a {
                padding: 0.5rem 0;
                margin: 0;
                width: 100%;
            }

            a:not(:last-child) {
                border-bottom: solid 1px gray;
            }


        }

        #toggle:checked+nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            animation: fadeInTop 1s;

            @keyframes fadeInTop {
                0% {
                    opacity: 0;
                    transform: translateY(-20px);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}