.contact {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInTop 1s;

    @keyframes fadeInTop {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .c-top {
        width: 20rem;
        height: 10rem;
        text-align: center;

        h2 {
            font-weight: 500;
            font-family: 'Barlow', sans-serif;
        }

        p {
            font-weight: 300;
        }
    }

    .c-bottom {
        display: flex;
        justify-content: center;
        align-items: center;

        .c-info {
            display: flex;
            flex-direction: column;
            margin-right: 2rem;

            .c-info-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 15rem;
                margin: 0.5rem 0;

                .c-item-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: black;

                    &:hover {
                        img {
                            transform: scale(1.3);
                        }
                        
                        p {
                            color: rgb(68, 183, 196);
                        }
                    }
                }

                img {
                    width: 25px;
                    height: 25px;
                    margin: 0 0.5rem;
                    transition: 0.5s ease-in;
                }
            }
        }

        .c-thanks {
            animation: fadeInTop 1s;

            @keyframes fadeInTop {
                0% {
                    opacity: 0;
                    transform: translateY(-20px);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            h2 {
                font-weight: 500;
                font-family: 'Barlow', sans-serif;
            }

            p {
                font-weight: 300;
            }
        }

        form {
            width: 30rem;
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 2rem;
            align-self: center;

            input {
                width: 50%;
                height: 50px;
                border: none;
                margin: 10px 0px;
                font-size: 14px;
                padding-left: 10px;
                border: 1px solid black;
                border-radius: 3px;
            }

            textarea {
                width: 70%;
                height: 15rem;
                margin: 10px 0px;
                font-size: 14px;
                padding-left: 10px;
                border: solid 1px black;
                border-radius: 3px;
            }

            .submit {
                display: inline-block;
                width: 25%;
                outline: 0;
                text-align: center;
                cursor: pointer;
                border: 0;
                padding: 0.5rem;
                color: #fff;
                border: 1px solid transparent;
                border-color: #000;
                color: #000;
                background: transparent;
                font-weight: 800;
                transition: background, color .1s ease-in-out;

                &:hover {
                    background-color: rgb(68, 183, 196);
                    border-color: rgb(68, 183, 196);
                    color: #fff;
                }

            }
        }
    }
}

@media screen and (max-width:790px) {
    .contact {

        .c-bottom {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            form {
                width: 100%;
                margin-top: 1rem;
                justify-content: center;
                align-items: flex-start;
            }

        }


    }
}